<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http:/www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">기본 타이틀</title>
    <!-- 공통 스타일시트 -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!-- 페이지별 추가 스타일시트 -->
    <th:block layout:fragment="css"></th:block>
</head>

<body>
<!-- 헤더 영억 -->
<header th:replace="~{fragments/header :: header}">
    <p>헤더 영역</p>
</header>
<!-- 메인 컨텐츠 영억 -->
<main layout:fragment="content">
    <p>기본 콘텐츠 영역입니다</p>
</main>
<!-- 푸터 영억 -->
<footer th:replace="~{fragments/footer :: footer}">
    <p>헤더 영역</p>
</footer>
<!-- 공통 스크립트 -->
</body>
</html>