<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>구입처 등록</title>
</head>
<body>
<main layout:fragment="content">
    <h1>새 구입처</h1>
    <form id="supplyForm" th:action="@{/supply}" method="post">
        <label for="name_id">구입처: </label>
        <input type="text" id="name_id" name="name" required>
        <div>
            <span id="spaceError" class="error">공백은 사용할 수 없습니다.</span>
            <span id="specialCharError" class="error">특수문자는 사용할 수 없습니다.</span>
            <span id="startWithNumberError" class="error">숫자할 수 없습니다.</span>
        </div>
        <label for="contact1_id">연락처1: </label>
        <input type="text" id="contact1_id" name="contact1" required>
        <label for="contact2_id">연락처2: </label>
        <input type="text" id="contact2_id" name="contact2" required>
        <label for="business_number_id">사업자번호: </label>
        <input type="text" id="business_number_id" name="business_number" required>
        <button type="submit">구입처 등록</button>
    </form>
</main>
<th:block layout:fragment="js">
    <script th:src="@{/js/supply.js}"></script>
</th:block>
</body>
</html>