<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/base}">
<head>
    <title>목록보기</title>
</head>
<body>
<main layout:fragment="content">
  <h1>상품목록</h1>
  <table>
    <tr>
      <th>아이디</th>
      <th>상품명</th>
    </tr>
  <!-- 반복구간 시작 List<ItemDto> -->
    <tr th:each="item: ${pageDto.content}">
      <td th:text="${item.id}"></td>
      <td><a th:href="@{/items/{id}(id=${item.id})}" th:text="${item.item}"></a></td>
    </tr>
  <!-- 반복구간 끝 -->
  </table>
  <div>
    <ul>
        <!-- 페이지 번호는 몇 번 반복 -->
        <li th:each="pageNum : ${#numbers.sequence(1, pageDto.totalPages)}">
            <a th:href="@{/items(page=${pageNum}, limit=${pageDto.limit})}" th:text="${pageNum}"></a>
        </li>
    </ul>
  </div>
<ul>
    <li th:text="|page:  + ${pageDto.page}|"></li>
    <li th:text="|limit:  + ${pageDto.limit}|"></li>
    <li th:text="|totalPages:  + ${pageDto.totalPages}|"></li>
    <li th:text="|totalElements:  + ${pageDto.totalElements}|"></li>
</ul>
</main>
</body>
</html>