<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
  <title>상세보기</title>
</head>
<body>
<main layout:fragment="content">
  <h1>수정하기</h1>
  <form id="itemForm">
    <input type="hidden" id="item_id" name="id" th:value="${item.id}">
    <label for="item_name">아이템(과일): </label>
    <input type="text" id="item_name" name="item" th:value="${item.item}">
    <button type="submit">아이템 수정</button>
  </form>
</main>
<th:block layout:fragment="js">
  <script th:src="@{/js/items-update.js}"></script>
</th:block>
</body>
</html>