<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>상품 아이템 등록</title>
</head>
<body>
<main layout:fragment="content">
    <h1>새 아이템</h1>
    <form id="itemForm" th:action="@{/items}" method="post">
        <label for="item_id">아이템(과일): </label>
        <input type="text" id="item_id" name="item" required>
        <div>
            <span id="spaceError" class="error">공백은 사용할 수 없습니다.</span>
            <span id="specialCharError" class="error">특수문자는 사용할 수 없습니다.</span>
            <span id="startWithNumberError" class="error">숫자할 수 없습니다.</span>
        </div>
        <button type="submit">아이템 등록</button>
    </form>
</main>
<th:block layout:fragment="js">
    <script th:src="@{/js/items.js}"></script>
</th:block>
</body>
</html>