<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
  <title>상세보기</title>
</head>
<body>
<main layout:fragment="content">
  <h1>상세보기</h1>
  <ul>
    <li>id: <span th:text="${item.id}"></span></li>
    <li>name: <span th:text="${item.item}"></span></li>
    <li><a th:href="@{/items/{id}/modify(id=${item.id})}">수정</a></li>
    <li><a th:href="@{/items/{id}/remove(id=${item.id})}">삭제</a></li>
  </ul>
</main>
</body>
</html>