<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http:/www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>목록보기</title>
</head>
<body>
<!-- 메인 컨텐츠 -->
<main layout:fragment="content">
    <h1>상품목록</h1>
    <table>
        <tr>
            <th>아이디</th>
            <th>상품명</th>
        </tr>
        <!-- 반복구간 시작 -->
        <tr th:each="item: ${items}">
            <td th:text="${item.id}"></td>
            <td><a th:href="@{/items/{id}(id=${item.id})}" th:text="${item.item}"></a></td>
        </tr>
        <!-- 반복구간 끝 -->
    </table>
</main>
</body>
</html>